<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./common/head %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <% include ./common/nav_header %>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <ul>
          <li>
            <a href="posts">Posts</a>
          </li>
          <li>
            <a href="users">Users</a>
          </li>
        </ul>
      </div>
    </div>
    <% include ./common/foot %>
  </body>
</html>
